html {
  box-sizing: border-box;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
body {
  --body-bg: #A9DEF9;
  --hover: #E08DAC;
  display: grid;
  background-color: var(--body-bg);
  background: url(../assets/clouds.JPG);
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  margin: 0;
  font-size: 24px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
  "nav nav nav "
  "main main main "
  " . img . "
  "footer footer footer";
}
h1 {
  color: black;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-area: main;
  grid-column: 2 / 4;
} 
img {
  border: 2px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  width: 200px;
  height: 200px;
  grid-area: img;
  grid-column-start: 3;
}
h2 {
  color: #34252F;
}
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  background-color: #B4D4EE;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 8px 6px -6px #34252F;
  grid-area: nav;
}
nav,
footer {
  grid-column: 1 / 5;
}
nav > div {
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
.nav {
  font-size: 25px;
  font-weight: bold;
}
.nav a {
	display:block;
	text-decoration:none;
	color: black;
}
.nav a:hover{
  color: #f4b860;
  background-color: white;
}
article {
  padding: 20px;
  margin: 10px auto;
  background-color: #f4b860;
  border: 4px solid whitesmoke;
  border-radius: 20px;
  opacity: .9;
  color: #34252F;
  grid-column: 1 / 5;
}
p {
  color: #34252F;
  font-size: 20px;
}
#aboutSect {
  background-color: lime;
}
#workSect {
  background-color: red;
}
#contactSect {
  background-color: blue;
}
#resumeSect {
  background-color: purple;
}
.section {
  min-height: 100vh;
  grid-column: 1 / 5;
}
footer {
  color: #34252F;
  height: 30px;
  padding: 10px 10px 0 10px;
  bottom: 0;
}
