html {
  box-sizing: border-box;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
body {
  --body-bg: #A9DEF9;
  --hover: #453643;
  display: grid;
  background-color: var(--body-bg);
  background: url(../assets/clouds.JPG);
}
img {
  border: 2px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 200px;
  height: 200px;
}
h1 {
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
} 
h2 {
  color: #34252F;
}
nav {
  height: 80px;
  background-color: #D0F4DE;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 8px 6px -6px #34252F;
}
nav > div {
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
#nav {
  font-size: 25px;
  font-weight: bold;
}
#nav a {
	display:block;
	text-decoration:none;
	color: black;
}
#nav a:hover{
  color: var(--hover);
  background-color: #FF7D00;
}
p {
  color: #34252F;
}
footer {
  color: #34252F;
  position: fixed;
  padding: 10px 10px 0 10px;
  bottom: 0;
}
