html {
  box-sizing: border-box;
  scroll-padding-top: 5rem;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
:root {
  font-size: 62.5%
}

body {
  --body-bg: #A9DEF9;
  --hover: #f4b860;
  --text: black;
  --bg: #b4d4ee;
  --shadow: black;
  --article-bg: oldlace;
  --article-text: black;
  --light-dark-btn-content: 'Dark Mode';
  --border: #b4d4ee;
  --card-bg: oldlace;
  --card-text: black;
  --card-title: black;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  display: grid;
  background-color: var(--body-bg);
  background: url(../assets/clouds.JPG) no-repeat center center;
  background-size: cover;
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  margin: 0;
  font-size: clamp(32px, 6vw, 90px);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
  "nav nav nav "
  " . div . "
  "main main main "
  "footer footer footer";
}
body.dark{
  --light-dark-btn-content: 'Light Mode';
  --text: #b4d4ee;
  --bg: black;
  --shadow: #b4d4ee;
  --article-bg: black;
  --article-text: oldlace;
  --border: oldlace;
  --card-bg: black;
  --card-text: oldlace;
  --card-title: #b4d4ee;
  display: grid;
  align-items: center;
  justify-content: center;
}
#light-dark-button {
  background-color: var(--bg);
  color: var(--text);
  grid-area: div;
  grid-column: 2 / 4;
  border-radius: 7px;
}

#light-dark-button::after {
  border: none;
  color: var(--text);
  content: var(--light-dark-btn-content);
  background-color: var(--bg);
}
#message {
  color: black;
  align-items: center;
  justify-content: center;
  display: grid;
  padding-top: 30px;
  grid-area: main;
  grid-column: 2 / 4;
  font-weight: bold;
}
.image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  grid-column: 1 / 5;
}
#my-photo {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  grid-area: main;
  grid-column: 2 / 4;
  border: 2px solid black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
h2 {
  color: var(--text);
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
  background-color: var(--bg);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 8px 6px -6px var(--shadow);
  grid-area: nav;
}
#name {
  text-decoration: none;
  color: black;
}
nav,
footer {
  grid-column: 1 / 5;
}
#nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  margin: 0 10px;
}
#nav a {
	display: block;
	text-decoration: none;
	color: var(--text);
}
#nav a:hover{
  color: var(--text);
  background-color: var(--bg);
  border-radius: 10px;
  height: 50px;
}
.btn-ld{
  border: none;
  font-size: 24px;
  font-weight: 600;
}
article {
  padding: 40px;
  margin: 10px auto;
  background-color: var(--article-bg);
  border: 5px solid var(--border);
  border-radius: 20px;
  opacity: .9;
  color: var(--article-text);
  grid-column: 1 / 5;
  opacity: .8;
}
article > p {
  color: var(--article-text);
}
p {
  color: black;
  font-size: 20px;
}
#aboutSect {
  font-size: 20px;
  margin-top: 50px;
  height: auto;
}
#workSect > h3{
  color: #f4b860;
  text-shadow: 2px 2px 2px black;
  align-items: center;
  justify-content: center;
  display: flex;
}
#contactSect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}
#contactSect > a {
  text-decoration: none;
  color: black;
}
.section {
  height: 100vh;
  grid-column: 1 / 5;
}
#card-container {
  background-color: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  color: var(--card-title);
}
.card-title {
  font-size: 25px;
}
.card-img-top {
  /* width: 300px;
  height: 300px; */
}
.card-text {
 /* text "my first project */
  color: var(--card-text);
}
#github {
  width: 100px;
}
.btn {
  border: 2px solid #B4D4EE;
  color: #B4D4EE;
  background-color: black;
}
.btn:hover {
  border: 2px solid black;
  background-color: #b4d4ee;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
#top-button {
  background-color: #f4b860;
  color: black;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--article-bg);
  color: var(--article-text);
}
footer {
  height: auto;
  padding: 10px 10px 0 10px;
  bottom: 0;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: var(--article-bg);
}
footer > p {
  color: var(--article-text);
}
@media only screen and (min-width:768px) {
  .card {
    width: 100vw;
    margin: 30px 15px 0;
  }
  #nav{
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100vw;
    gap: 15px;
    margin: 10px 0;
    padding: 0 15px;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
  }
  footer {
    grid-column: 1 / 5;
  }

}
@media only screen and (min-width: 768px) {
  /* header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  } */

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      /* background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px); */
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }
  
  header {
    /* margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none; */
  }

  nav,
  .header-logo-container {
    /* margin: 0;
    background: var(--nav-bg-ff);
    border: var(--borders);
    border-radius: 18px; */
  }


  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    /* header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    nav,
    .header-logo-container {
      background: rgba(4, 52, 172, 0.9);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    } */
  }
}